<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>c++ - 01.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>c++-02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>c++-03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>位.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>第一个c++.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>迭代.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B0AE4501DA87AD000502183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0AE4791DA8C69500502183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0AE4841DA8D58B00502183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0AE48F1DA8EDEF00502183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B783DDC1D9A6AA400D6DDDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B783DEA1D9A6F3D00D6DDDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B783DF51D9A75E700D6DDDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
