<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testlianxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BF2EECF1CB8E33A002BAF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF2EEE31CB8E33A002BAF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF2EEEE1CB8E33A002BAF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
