<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ffff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>会问判断.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>回文判断.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>字符串反转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>字符包含.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>最长回文.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>算法_字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B6E45B91E480E4C00B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E45C71E480E7500B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E46081E4849B000B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E46131E484AAA00B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E461E1E48549900B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E46291E4854B100B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E46341E48567F00B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6E463F1E48571400B2A05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BAF4BA21E4D693900431488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
