<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B8685D41D39E04D00F4EDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8685E81D39E04D00F4EDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8685F31D39E04D00F4EDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
